<h1 >Welcome to Restaurant Review!</h1>

<h3>Please log in or sing up below</h3>

<p>
    <%= link_to "Sign Up", signup_path  %>
    <br>
    <%= link_to "Log In", login_path %>
    <br>
    <%= link_to 'Log in or Sign up with Google!', '/auth/google_oauth2', method: :post %>
</p>


