<div class="container">
<h1>Welcome <%=@user.name %>!</h1>

<h2>This is Restaurant Review</h2>
<br>
<p>Restaurant Review is used to check out reviews on restaurants to help you decide where to eat. You can add restaurants and review them. You can also review restaurants added by other users. Enjoy! </p>
<br>




<h3>You can view all restaruants that have been added already: </h3>
<br>

<div class="container"><%= link_to "View all Restaurants", restaurants_path %>
</div>
<br>
<h3>Or add a new one yourself!</h3>
<br>
<div class="container">
<%= link_to "Add a Restaurant", new_restaurant_path %>
</div>


</div>