<h1>Welcome <%=@user.name %>!</h1>

<h2>This is Restaurant Review</h2>
<br>
<br>





<h3>Click to view all restaurants or add a new one!</h3>
<br>
<div class="container">
<%= link_to "View all Restaurants", restaurants_path %>
<br>
<br>
<%= link_to "Add a Restaurant", new_restaurant_path %>
</div>


