<h1>All the Restaurants</h1>

<ol>
    <% @restaurants.each do |restaurant| %>
    <li>
    <%= restaurant.restaurant_name %>
    <%= link_to "Review #{restaurant.restaurant_name}", new_restaurant_review_path(restaurant) %>
    </li>
    <% end %>
</ol>