/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "rails_bootstrap_forms";

body {
    background-image: image-url('pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg');
}
ul {
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
}

.error {
    color: red;
    font-weight: bold;
    font-size: larger;
}

.rest_name {
    font-family: Comic Sans MS;
    font-size: 34px;
    left:50%;
    text-decoration: underline;
    color: #c27e96
}

.home_info {
    padding: 50px 50px;
}

.attributes {
    font-family: Comic Sans MS;
    font-size: 24px;  
}

.small_links {
    font-size: 18px;
    color: grey;
}

.underlined {
    text-decoration: underline;
    font-family: Marker Felt;
    font-weight: bold;
}