<p class="container"><strong>Rating:</strong> <%= review.rating %></p>
<p class="container"><strong>Description: </strong><%= review.content %></p>
<p class="container"><strong>Reviewd By: </strong><%= review.user.name %> </p>
<br>